@import "../../scss/main";

.welcome {
  background-image: url("../../assets/bg-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $bgcolor-primary;
  width: 100vw;
  height: 100vh;
  @include media(small) {
    background-image: url("../../assets/bg.jpg");
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  justify-content: space-between;
  &__btn {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 400;
    color: $color-text-secondary;
    background: none;
    border: 2px solid $color-text-secondary;
    width: 100%;
    &:hover {
      color: white;
      background: $color-text-secondary;
      cursor: pointer;
      transition: 0.4s;
    }
    @include media(small) {
      width: fit-content;
    }
  }
}

.heading {
  &__title {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    color: $color-text-primary;
    @include media(small) {
      font-size: 6rem;
    }
  }
  &__slogan {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2.4rem;
    color: $color-text-primary;
    @include media(small) {
      font-size: 3rem;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-top: 1px solid $color-text-primary;
  width: 100%;
  padding-top: 10px;
  &__copy-txt {
    font-size: 1.2rem;
    padding: 1.2rem 0;
    @include media(small) {
      padding: 1.6rem 0;
    }
  }
  &__copy-img {
    width: 60px;
    padding-left: 5px;
    @include media(small) {
      width: 80px;
      padding-left: 10px;
    }
  }
}
