$breakpoints: (
  small: (
    min-width: 640px,
  ),
  medium: (
    min-width: 800px,
  ),
  large: (
    min-width: 1024px,
  ),
  xlarge: (
    min-width: 1200px,
  ),
);

@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error ' "#{$breakpoint}" - Nie rozpoznaję tej wielkości';
  }
}
